<h1>Dictionary</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <% @words.each() do |word| %>
        <li><a href="words/<%= word.id() %>"><%= word.word() %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <form action="/" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="inputted_word" placeholder="Word">
        </div>
        <button class="btn" type="submit">Submit Your Word</button>
      </form>
    </div>
  </div>
</div>
