<h1 id="header">Dictionary</h1>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2><%= @word.word() %></h2>
      <ul>
      <% @word.definitions.each() do |definition| %>
      <li><%= definition.define() %></li>
      <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <form action="/word" method="post">
        <input type="hidden" name="word_id" value="<%= @word.id() %>">
        <div class="form-group">
          <h4>Enter a definition</h4>
          <input class="form-control" type="text" name="definition" placeholder="Definition" autofocus>
        </div>
       <button class="btn" type="submit">Add Definition</button>
      </form>
    </div>
  </div>
</div>
